extends ./layout.pug
block content
    div(class='container')
        div(class="row mt-5")
            div(class="col-md-6 m-auto text-center")
                i(class="fas fa-microphone" style="font-size: 2em;")
                h4 음성 변조 탐지 포렌식
                div(class="card card-body text-center")
                    h1(class="text-center mb-3")
                        | Login or Register
                    a(href="/users/login" class="btn btn-primary btn-block mb-2") Login
                    a(href="/users/register" class="btn btn-secondary btn-block") Register
