doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title VoiceForensic
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
        style.
            body {
                font-family: Arial, sans-serif;
                text-align: center;
                //- margin: 0;
                //- padding: 0;
            }
            .header img {
                width: 320px; //4
                height: 240px; //3
            }
            .header h1 {
                font-size: 3em;
            }
            .description {
                font-size: 1.2em;
                margin: 20px 0;
            }
            .feature {
                border: 1px solid #ccc;
                border-radius: 1em;
                padding: 1em;
                margin-bottom: 1em;
                margin-left: 1em;
                margin-right: 1em;
            }
            .feature img {
                width: 10em;
                height: 10em;
                margin: 1em;
            }
            .footer {
                display: flex;
                justify-content: space-between;
                align-items: center;
                background-color: #f8f9fa;
                margin: 0 auto;
                padding: 1em;
                font-size: 0.9em;
                color: #212529;
            }
            .btn-black {
                background-color: black;
                border-color: black;
                color: white;
            }
            .description-left {
                text-align: left; 
                margin-left: 2em; 
            }

            .bold-text {
                font-weight: bold; 
            }

            .description {
                font-size: 1.2em;
            }

            .strong-text {
                font-size: 1.2em; 
            }
            .indent-text {
                margin-left: 2em;
            }
            footer {
                margin: 1em 0em 0em 0em;
                bottom: 1rem;
                width: 100%;
                text-align: center;
                font-size: 0.8rem;
                color: #666;
            }
            .footer-links a {
                color: #666;
                margin: 0 0.5rem;
                text-decoration: none;
            }
            .footer-links a:hover {
                text-decoration: underline;
            }

            .highlight {
                color: red;
                font-weight: bold;
            }
    body
        block content
            script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
            script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
            script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")

