extends ./layout.pug
block content
    div(style='display: flex; align-items: center; justify-content: center; height: 100vh; background-color: black; color: white;')
        div(class='container')
            div(class="row mt-5")
                div(class="col-md-6 m-auto")
                    div(class="card card-body" style="background-color: #333; color: white;")
                        h1(class="text-center mb-3" style="color: white;")
                            i(class="fas fa-sign-in-alt")  Login
                        if errors
                            each error in errors
                                div(class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #444; color: white;")
                                    = error.msg
                                    button(type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: white;")
                                        span(aria-hidden="true") &times;
                        if success_msg != ''
                            div(class="alert alert-success alert-dismissible fade show" role="alert" style="background-color: #444; color: white;")
                                = success_msg
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: white;")
                                    span(aria-hidden="true") &times;
                        if error != ''
                            div(class="alert alert-warning alert-dismissible fade show" role="alert" style="background-color: #444; color: white;")
                                = error
                                button(type="button" class="close" data-dismiss="alert" aria-label="Close" style="color: white;")
                                    span(aria-hidden="true") &times;
                        form(action="/users/login" method="POST")
                            div(class="form-group")
                                label(for="email" style="color: white;") Email
                                input(type="email" id="email" name="email" class="form-control" placeholder="Enter Email" value=email style="background-color: #555; color: white;")
                            div(class="form-group")
                                label(for="password" style="color: white;") Password
                                input(type="password" id="password" name="password" class="form-control" placeholder="Enter Password" value=password style="background-color: #555; color: white;")
                            button(type='submit' class="btn btn-primary btn-block" style="background-color: #666; border-color: #666;") Login
                        p(class="lead mt-4" style="color: white;") No Account? 
                            a(href='/users/register' style="color: #bbb;") Register
                    br
                    form(action="/" method="GET")
                        button(type='submit' class="btn btn-outline-info btn" style="color: white; border-color: white;") Back to the Main
