extends ./layout.pug

block content
    div(class='container')
        div(class="row mt-5")
            div(class="col-md-6 m-auto text-center")
                h2 아직 결과가 출력되지 않았습니다
                a(href="/" class="btn btn-primary mt-3") 홈으로 돌아가기
