extends ./layout.pug

block content
  div(class='container-fluid')
    div(class="row mt-5")
      div(class="col-md-9 mx-auto text-center")
        h4(class="mt-2 text-center") 인공지능 훈련 및 시각화 자료를 준비중입니다.
          div(class="card mt-4")
            div(class="card-body")
              div(class="row my-4")
                div(class="col-12")
                  div(class="progress mt-3")
                    div(id="progress-bar" class="progress-bar", role="progressbar", style="width: 0%; height: 20px; background-color: green;", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100") 0%
                  div(id="step-name" class="mt-3")
              br
              form(action="/dashboard" method="GET")
                button(type='submit' class="btn btn-outline-success") Back to the Dashboard

  script.

    document.addEventListener('DOMContentLoaded', function() {
        var flag = !{flag}; // 서버로부터 받은 flag

        var form = document.querySelector('form');
        switch(flag) {
            case 1:
                form.action = "/dashboard_forensic";
                break;
            case 2:
                form.action = "/dashboard_ai_singer";
                break;
            case 3:
                form.action = "dashboard_announce";
            default:
                form.action = "/";
        }
    });
    
    // 서버에서 보내는 이벤트를 수신합니다.
    const source = new EventSource('/upload_wait_events');

    // 진행 단계를 나타내는 배열을 선언합니다.
    const steps = ['음성 추출 데이터셋 불러오기', '음성 특징 평균값 시각화', 'MFCC 스펙트럼 시각화', '주파수 스펙트럼 시각화', '클러스트링(데이터 분류)', 'AI 모델 학습', '유사도 측정'];

    source.onmessage = function(event) {
        if (event.data === 'done') {
            // SSE 연결을 닫습니다.
            source.close();
        } else {
            // 이벤트 데이터를 사용하여 프로그레스 바를 업데이트합니다.
            const progressBar = document.getElementById('progress-bar');
            const progressIndex = steps.indexOf(event.data) + 1;
            const progressPercentage = parseFloat(((progressIndex / steps.length) * 100).toFixed(2));
            progressBar.style.width = progressPercentage + '%';
            progressBar.setAttribute('aria-valuenow', progressPercentage);
            progressBar.textContent = progressPercentage + '%';

            const stepNameDiv = document.getElementById('step-name');
            stepNameDiv.innerHTML = `<h6>${event.data} 단계 완료</h6>`;
        }
    };
