extends ./layout.pug 
block content
    div(class='container mt-5')
        div(class="row")
            div(class="col-md-8 col-lg-6 m-auto")
                h1(class="text-center mb-4") Upload File

                div(class="card")
                    div(class="card-body")
                        form(action="/upload" method="post" enctype="multipart/form-data")
                            div(class="form-group text-center")
                                label(for="voice1" class="form-label") 실시간 녹음 음성:
                                div
                                    input(type="file" id="voice1" name="file1" accept="audio/*" class="form-control")
                            
                            div(class="form-group text-center")
                                label(for="voice2" class="form-label") 녹취 파일 음성:
                                div
                                    input(type="file" id="voice2" name="file2" accept="audio/*" class="form-control")

                            div(class="text-muted text-center mt-3") 비교 음성: control file, 원본 음성: record file
                            
                            div(class="text-center mt-4")
                                input(type="submit" value="upload" class="btn btn-primary")
