extends ./layout.pug
block content
    div(class='container mt-5')
        div(class="row")
            div(class="col-md-8 col-lg-6 m-auto")
                h1(class="text-center mb-4") Upload File

                div(class="card")
                    div(class="card-body")
                        form(action="/upload" method="post" enctype="multipart/form-data" id="uploadForm")
                            div(class="form-group text-center")
                                label(for="voice1" class="form-label") 실시간 녹음 음성:
                                div
                                    input(type="file" id="voice1" name="file1" accept="audio/*" class="form-control")
                            div(class="form-group text-center")
                                label(for="voice2" class="form-label") 녹취 파일 음성:
                                div
                                    input(type="file" id="voice2" name="file2" accept="audio/*" class="form-control")
                            div(class="text-muted text-center mt-3") 비교 음성: control file, 원본 음성: record file
                            div(class="text-center mt-4")
                                input(type="submit" value="upload" class="btn btn-primary")
                            br
                            h6(class="text-center text-primary text-sm") 업로드 바가 완성될 때까지 기다려 주세요
                                span(class="spinner-grow spinner-grow-sm text-info") 
                            div(class="progress mt-3")
                                div(class="progress-bar", role="progressbar", style="width: 0%", aria-valuenow="0", aria-valuemin="0", aria-valuemax="100")
                br
                form(action="/dashboard" method="GET")
                    button(type='submit' class="btn btn-outline-success") Back to the Dashboard

                        script(src="/socket.io/socket.io.js")
                        script.
                            document.addEventListener('DOMContentLoaded', function() {
                                var userId = "#{userId}";  // Pug 템플릿에서 서버로부터 받은 userId
                                var socket = io();  // 소켓 연결 초기화

                                // 서버에 userId를 등록
                                socket.emit('register', userId);

                                socket.on('uploadProgress', function(data) {
                                    var progress = document.querySelector('.progress-bar');
                                    progress.style.width = data.progress + '%';
                                    progress.setAttribute('aria-valuenow', data.progress);
                                });

                                var form = document.getElementById('uploadForm');
                                form.onsubmit = function(e) {
                                    e.preventDefault();
                                    var formData = new FormData(form);
                                    var xhr = new XMLHttpRequest();
                                    xhr.open('POST', '/upload', true);
                                    xhr.onload = function() {
                                        if (xhr.status === 200) {
                                            window.location.href = '/train_process'; // 성공 시 upload_wait 라우터 호출
                                        } else {
                                            console.error('Upload failed.');
                                        }
                                    };
                                    xhr.send(formData);
                                };
                            });
